body {
    background-color:aquamarine;
}

div.main{
    background-color:aqua;
}

h1{
    text-align: center;
    font-size:50px;
}

p{
    text-align:center;
    font-size:40px;
}

a {
    display: inline-block;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.btn {
    background-color:red;
}